
*~
*.log
*.pot
*.pyc
*.pyo
poetry.lock
Pipfile.lock
.updated
.ssh_known_hosts
.idea
local_settings.py
sqlite.db*
sqlite*.db
/.update.sh
/var
/django/static
/django/media
/django/settings.py
.DS_Store
dump.rdb
docs_site/
.hypothesis
